body {
  height: 100%;

  background-image: url("visuel-404.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*NAVBAR*/
.nav-link {
  size: 18px !important;
  font-family: Korolev-Bold;
  font-weight: bold;
  color:  #002542  !important;
  margin-right: 20px;
  margin-left: 10px;

}
.btn-primary {
  background-color:  #dc3115 !important;
}

.dropdown {
  margin-left: 50px;
}
  

/*ERROR404*/

.middle{
  margin-top: 100px;
  margin-left: 100px;
}
.redtext {
  color: #dc3115;
}
.error {
  size : 45px;
}

/*CARDS*/

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 200px;
}
.card {
  margin-left: 100px;
}

.card-title {
  color: #dc3115;
  font-weight: bold;
}





