body, html {
  height: 100%;

  background-image: url("visuel-404.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*NAVBAR*/
.nav-link {
  size: 18px !important;
  font-family: Korolev-Bold;
  font-weight: bold;
  color:  #002542  !important;
  margin-right: 20px;
  margin-left: 10px;

}
.btn-primary {
  background-color:  #dc3115 !important;
}

.dropdown {
  margin-left: 50px;
}
  

/*ERROR404*/

.redtext {
  color: #dc3115;
}
.error {
  size : 45px;
}

/*CARDS*/

.cards {
  justify-content: center;
  flex-wrap: nowrap;
  display:inline-block;
}

.card-title {
  color: #dc3115;
  font-weight: bold;
}

#possibilities
{
    
    background-color: #efefef;
    padding: 60px 0;
}

#possibilities article
{
    width:460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}

#possibilities article:first-child
{
    margin-right: 20px;
}

.overlay
{
    background: rgba(255,255,255, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px; 
    text-align: center;
    box-sizing: border-box;
}

article h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p
{
    text-align: center;
    margin-bottom: 20px;
}
.button-2
{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}
.button-2:hover
{
    color: #fff;
    background-color: #02b8dd;
}





